var new_comment = $(“<%= escape_javascript(render(:partial => @comment))%>”).hide();
<% puts "create.js.erb! " %>
<% 
	puts "Let's talk about %s." % @comment
	puts "Let's also talk about %s." % render(:partial => @comment)
	puts "How about %s." % escape_javascript(render(:partial => @comment))
%>


//$("#comments").prepend(new_comment);
//$("#comments").prepend("<div class=\"comment\" id=\"comment_89\">\n\n<p>\n\n<strong>Posted less than a minute<\/strong><br />\n\n4th comment\n\n<\/p>\n\n<\/div>");
//$("#comment_<%= @comment.id %>").fadeIn("slow");
$("#new_comment")[0].reset();




